@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
#student-list {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dbdbe3;
  margin: 0 auto;
  margin-top: 40px;
}
#student-list .titles {
  border-bottom: 1px solid #dbdbe3;
  border-top: 1px solid #dbdbe3;
}
#student-list .titles th {
  padding: 20px 25px;
  text-align: left;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 800;
  line-height: 120%;
  text-align: left;
  text-transform: uppercase;
  color: #212121;
}
#student-list .student {
  transition: 0.2s;
}
#student-list .student:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}
#student-list .student:nth-of-type(2n) {
  background-color: #f8f8f8;
}
#student-list .student td {
  padding: 20px 25px;
  text-align: left;
  border-bottom: 1px solid #dbdbe3;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  text-align: left;
  color: #212121;
}
#student-list .student .actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
#student-list .student .actions button {
  border: none;
  border-radius: 5px;
  background: #eaeaff;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#student-list .student .actions button img {
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 1070px) {
  #student-list .titles th {
    padding: 15px 20px;
  }
  #student-list .student td {
    padding: 15px 20px;
    font-size: 14px;
    line-height: 100%;
  }
}
@media only screen and (max-width: 600px) {
  #student-list .titles {
    display: none;
  }
  #student-list .student {
    border-bottom: 1px solid #dbdbe3;
  }
  #student-list .student td {
    display: block;
    border: none;
    padding: 7px 20px;
    font-size: 16px;
    font-weight: 500;
  }
  #student-list .student td::before {
    content: attr(data-cell) ": ";
    text-transform: capitalize;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 800;
    line-height: 120%;
    text-align: left;
    color: #212121;
  }
}
@media only screen and (max-width: 500px) {
  #student-list .student td {
    padding: 5px 20px;
    font-size: 14px;
  }
  #student-list .student td::before {
    font-size: 14px;
  }
}
@media only screen and (max-width: 420px) {
  #student-list {
    margin-top: 30px;
  }
  #student-list .student td {
    padding: 5px 15px;
  }
  #student-list .student .actions button img {
    width: 15px;
    height: 15px;
  }
}