@use "../../sass/abstracts" as *;

.pagination {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  button {
    border: none;
    padding: 6px 15px;
    border-radius: 8px;
    color: white;
    background-color: $main-color ;
    cursor: pointer;
  }

  button:disabled {
    background-color: #9191e7;
    cursor: not-allowed;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 0;

    li {
      padding: 7px;
      border-radius: 8px;
      cursor: pointer;
      background-color: #9191e7;
      font-family: Mulish;
      font-size: 14px;
      font-weight: 600;
      line-height: 10.08px;
      text-align: left;
      color: white;
    }

    .active-page {
      background-color: #3b3b62;
    }
  }

  @include media(500px) {
    gap: 15px;

    button {
      padding: 5px 10px;
      font-size: 14px;
      line-height: 120%;
    }

    ul {
      gap: 10px;

      li {
        // line-height: 100%;
        padding: 8px;
        font-size: 14px;
      }
    }
  }
}