$background: #EEEEF5;
$main-color: #5B5CE2;
$main-color-light: #6C6DE5;
$bold-text: #212121;
$text: #b2b2bd;
$success: #1BC58D;
$danger: #F1419D;
$grayscale-1: #F6F6FB;
$grayscale-2: #F7F7FF;
$grayscale-3: #F0F0F6;