@use "../abstracts" as *;

#profile {

  .profile__container {
    .top {
      padding: 15px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .back,
      .logout {
        border: 1px solid #bbbbbb;
        padding: 5px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: #fff;
        cursor: pointer;
        transition: 0.3s;
        color: black;

        span {
          color: black;
        }

        &:hover {
          background-color: #ececec;
        }

        span {
          font-weight: 600;
        }
      }

      .back {
        gap: 0;

        img {
          width: 20px;
          height: 20px;
        }
      }

      .logout {
        flex-direction: row-reverse;
      }
    }

    .banner {
      width: 100%;
      height: 250px;
      position: relative;
      overflow: hidden;

      .bgc {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 72%;
        z-index: -1;
      }

      .avatar {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: end;
        justify-content: space-between;
        padding-left: 50px;

        .left {
          display: flex;
          align-items: end;
          gap: 20px;

          img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
          }

          h1 {
            text-transform: capitalize;
          }
        }

        .right {
          * {
            outline: none;
          }

          display: flex;
          align-items: center;
          gap: 15px;

          .none {
            display: none;
          }

          .display-btn {
            border: 1px solid #bbbbbb;
            padding: 5px 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: #fff;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
              background-color: #ececec;
            }

            span {
              font-weight: 600;
            }
          }

          .save-edit {
            background-color: black;
            border: 1px solid black;
            color: white;

            &:hover {
              background-color: black;
            }
          }
        }
      }
    }

    .details {
      margin-top: 50px;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #e7e7e7;

        div {
          padding: 15px 0 15px 50px;
          width: 100%;
          border-top: 1px solid #e7e7e7;
          display: flex;
          align-items: center;

          input {
            width: 50%;
            border-radius: 7px;
            border: 1px solid #ededed;
            padding: 10px 10px;
            outline: none;
            background-color: #f4f4f4;

            &::placeholder {
              font-size: 14px;
              color: #adadad;
            }

            &:focus {
              border: 1px solid black;
            }

            &:disabled {
              cursor: not-allowed;
              background-color: #fff;
            }
          }

          label {
            width: 20%;
            font-weight: 700;
            font-size: 18px;
          }
        }
      }
    }
  }

  @include media(768px) {
    .profile__container {
      padding: 0;

      .top {
        padding: 15px 20px;
      }

      .banner {
        height: 200px;


        .avatar {
          padding: 0 20px;

          .left {
            gap: 10px;

            img {
              width: 120px;
              height: 120px;
            }

            h1 {
              font-size: 24px;
            }
          }
        }
      }

      .details {
        padding: 0 20px;

        form {
          div {
            padding-left: 0;
            gap: 20px;

            input {
              width: 80%;
            }

            label {
              width: 20%;
            }
          }
        }
      }
    }
  }

  @include media(420px) {
    .profile__container {
      .top {

        .back,
        .logout {

          span {
            font-size: 14px;
          }
        }

        .back {

          img {
            width: 15px;
            height: 15px;
          }
        }

        .logout {
          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .banner {
        height: 170px;

        .bgc {
          height: 75%;
        }

        .avatar {
          .left {
            img {
              width: 90px;
              height: 90px;
            }

            h1 {
              font-size: 18px;
            }
          }

          .right {
            gap: 10px;

            .display-btn {
              gap: 3px;

              img {
                width: 18px;
                height: 18px;
              }

              span {
                font-size: 14px;
              }
            }
          }
        }
      }

      .details {
        form {
          div {
            padding: 10px 0;
            flex-direction: column;
            align-items: start;
            gap: 4px;

            label {
              font-size: 14px;
            }

            input {
              width: 100%;
              padding: 7px 10px;
              font-size: 14px;
            }
          }
        }
      }

    }
  }
}