@use "../abstracts" as *;

#sign-up {
  padding-top: 20px;
  padding-bottom: 20px;

  .signup__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 65px;
      width: 40%;

      form {
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          margin-bottom: 40px;
          font-size: 35px;
        }

        .username,
        .password {
          display: flex;
          flex-direction: column;
          gap: 3px;

          label {
            font-weight: 700;
          }

          input {
            border-radius: 7px;
            border: 1px solid #bbbbbb;
            padding: 8px 10px;
            outline: none;

            &::placeholder {
              font-size: 14px;
              color: #adadad;
            }

            &:focus {
              border: 1px solid black;
            }
          }
        }

        .agree {
          display: flex;
          align-items: center;
          gap: 5px;

          label {
            font-weight: 700;
          }
        }

        #submit {
          margin-top: 20px;
          border-radius: 7px;
          border: 1px solid black;
          padding: 8px 10px;
          cursor: pointer;
          background-color: #D2D4FF;
          color: black;
          font-weight: 600;
          transition: 0.4s;

          &:hover {
            background-color: #bdc0ff;
          }
        }
      }

      .line {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        div {
          width: 45%;
          background-color: #d6d6d6;
          height: 1px;
        }
      }

      .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        .accounts {
          display: flex;
          align-items: center;
          gap: 20px;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border-radius: 10px;
            padding: 5px 10px;
            border: 1px solid #bbbbbb;
            font-size: 16px;
            font-weight: 500;
            color: black;
            transition: 0.2s;

            &:hover {
              background-color: #efefef;
            }
          }
        }

        p {
          font-weight: 600;

          a {
            font-weight: 700;
            color: #0F3DDE;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .right {

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  @include media(768px) {
    .signup__container {
      flex-direction: column;

      .left {
        width: 100%;

        form {
          align-items: center;
          width: 100%;

          h1 {
            margin-bottom: 30px;
          }

          div {
            width: 100%;
          }

          #submit {
            width: 100%;
          }
        }
      }

      .right {
        width: 80%;
      }
    }
  }

  @include media(460px) {
    .signup__container {
      .left {
        gap: 40px;

        form {
          gap: 15px;

          h1 {
            font-size: 28px;
          }

          .username,
          .password {
            label {
              font-size: 14px;
            }

            input {
              font-size: 14px;

              &::placeholder {
                font-size: 14px;
              }
            }
          }

          .agree {
            label {
              font-size: 14px;
            }
          }

          #submit {
            font-size: 14px;
          }
        }

        .line {
          span {
            font-size: 14px;
          }
        }

        .bottom {
          .accounts {
            width: 100%;
            gap: 10px;

            a {
              font-size: 14px;
              width: 50%;
              gap: 5px;

              img {
                width: 20px;
                height: 20px;
              }
            }
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  @include media(400px) {
    .signup__container {
      .left {
        gap: 30px;

        .bottom {
          .accounts {
            flex-direction: column;

            a {
              width: 100%;
              padding: 8px 10px;
            }
          }
        }
      }

      .right {
        width: 95%;

        img {
          width: 100%;
        }
      }
    }
  }
}