@use "../abstracts" as *;

header {
  box-shadow: 0 0 7px 0px rgb(120, 120, 120);
  height: 70px;
  width: 100%;

  .header__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-family: "Quicksand", sans-serif;
    }

    .profile {
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 700;
        text-decoration: none;
        color: black;

        &:hover {
          text-decoration: underline;
        }

        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  @include media(768px) {
    .header__container {
      h1 {
        font-size: 28px;
      }
    }
  }

  @include media(420px) {
    height: 55px;

    .header__container {
      h1 {
        font-size: 22px;
      }

      .profile {
        a {
          gap: 5px;
          font-size: 14px;

          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}