@use "../../sass/abstracts" as *;

.ant-table-wrapper {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dbdbe3;
  margin: 0 auto;
  margin-top: 40px;
  border: none;

  .ant-spin-nested-loading {
    .ant-spin-container {
      .ant-table {
        .ant-table-container {
          .ant-table-content {
            table {
              width: 100%;

              thead {
                position: static;

                tr {
                  th {
                    padding: 10px 15px;
                  }
                }
              }

              tbody {
                position: static;

                tr {
                  td {
                    padding: 10px 15px;

                    div {
                      display: flex;
                      align-items: center;
                      gap: 10px;

                      button {
                        border: none;
                        border-radius: 5px;
                        padding: 5px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        transition: 0.3s;

                        &:hover {
                          background: #ccccff !important;
                        }

                        img {
                          width: 15px;
                          height: 15px;
                        }
                      }
                    }
                  }
                }

              }
            }
          }
        }
      }

      .ant-pagination {
        display: none;
      }
    }
  }

  .titles {
    border-bottom: 1px solid #dbdbe3;
    border-top: 1px solid #dbdbe3;

    th {
      padding: 20px 25px;
      text-align: left;
      font-family: Mulish;
      font-size: 14px;
      font-weight: 800;
      line-height: 120%;
      text-align: left;
      text-transform: uppercase;
      color: $bold-text;
    }
  }

  @include media(1070px) {
    .titles {
      th {
        padding: 15px 20px;
      }
    }

    .student {
      td {
        padding: 15px 20px;
        font-size: 14px;
        line-height: 100%;
      }
    }
  }

  @include media(600px) {
    .titles {
      display: none;
    }

    .student {
      border-bottom: 1px solid #dbdbe3;

      td {
        display: block;
        border: none;
        padding: 7px 20px;
        font-size: 16px;
        font-weight: 500;

        &::before {
          content: attr(data-cell) ": ";
          text-transform: capitalize;
          font-family: Mulish;
          font-size: 16px;
          font-weight: 800;
          line-height: 120%;
          text-align: left;
          color: $bold-text;
        }
      }
    }
  }

  @include media(500px) {
    .student {

      td {
        padding: 5px 20px;
        font-size: 14px;

        &::before {
          font-size: 14px;
        }
      }
    }
  }

  @include media(420px) {
    margin-top: 30px;

    .student {
      td {
        padding: 5px 15px;
      }

      .actions {
        button {
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}