@use "../../sass/abstracts" as *;

#students {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  @include media(420px) {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}