.ant-layout {
  height: 100% !important;
  width: 100% !important;
}
.ant-layout-content {
  position: static;
  // overflow: hidden;
}

.ant-menu {
  margin-top: 20px;
}
.ant-layout-header {
  padding: 0 20px 0 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}